{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "extends": [
        "airbnb"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "excludedFiles": "*.spec.js",
    "rules": {
        "prettier/prettier": "off",
        "no-shadow": "off",
        "import/no-unresolved": "off",
        "linebreak-style": "off",
        "no-unused-expressions": "off",
        "quotes": ["error", "double"],
        "no-console": "error",
        "react/prefer-stateless-function": "off",
        "react/button-has-type": "off",
        "react/jsx-filename-extension": "off",
        "import/prefer-default-export": "off"
    }
}
